In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Creating Path

path = r"C:\Users\caden\OneDrive\Desktop\Open Source Data Final Project"

In [6]:
# Import Data Set

df = pd.read_csv(os.path.join(path, '02 Data', 'Original', 'Happiness.csv'), index_col = False)

In [7]:
df

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
1225,2022,Botswana,142,3.471,1.50300,0.81500,0.28000,0.57100,0.10200,0.01200,0.18700
1226,2022,Rwanda,143,3.268,0.78500,0.13300,0.46200,0.62100,0.54400,0.18700,0.53600
1227,2022,Zimbabwe,144,2.995,0.94700,0.69000,0.27000,0.32900,0.10500,0.10600,0.54800
1228,2022,Lebanon,145,2.955,1.39200,0.49800,0.63100,0.10300,0.03400,0.08200,0.21600
1229,2022,Afghanistan,146,2.404,0.75800,0.00000,0.28900,0.00000,0.00500,0.08900,1.26300

In [12]:
df.info

<bound method DataFrame.info of       Year      Country  Happiness Rank  Happiness Score  \
0     2015  Switzerland               1            7.587
1     2015      Iceland               2            7.561
2     2015      Denmark               3            7.527
3     2015       Norway               4            7.522
4     2015       Canada               5            7.427
...    ...          ...             ...              ...
1225  2022     Botswana             142            3.471
1226  2022       Rwanda             143            3.268
1227  2022     Zimbabwe             144            2.995
1228  2022      Lebanon             145            2.955
1229  2022  Afghanistan             146            2.404

      Economy (GDP per Capita)  Social Support  Health (Life Expectancy)  \
0                      1.39651         1.34951                   0.94143
1                      1.30232         1.40223                   0.94784
2                      1.32548         1.36058                   0.87464
3                      1.45900         1.33095                   0.88521
4                      1.32629         1.32261                   0.90563
...                        ...             ...                       ...
1225                   1.50300         0.81500                   0.28000
1226                   0.78500         0.13300                   0.46200
1227                   0.94700         0.69000                   0.27000
1228                   1.39200         0.49800                   0.63100
1229                   0.75800         0.00000                   0.28900

      Freedom  Trust (Government Corruption)  Generosity  Dystopia Residual
0     0.66557                        0.41978     0.29678            2.51738
1     0.62877                        0.14145     0.43630            2.70201
2     0.64938                        0.48357     0.34139            2.49204
3     0.66973                        0.36503     0.34699            2.46531
4     0.63297                        0.32957     0.45811            2.45176
...       ...                            ...         ...                ...
1225  0.57100                        0.10200     0.01200            0.18700
1226  0.62100                        0.54400     0.18700            0.53600
1227  0.32900                        0.10500     0.10600            0.54800
1228  0.10300                        0.03400     0.08200            0.21600
1229  0.00000                        0.00500     0.08900            1.26300

[1230 rows x 11 columns]>

In [13]:
df.dtypes

Year                               int64
Country                           object
Happiness Rank                     int64
Happiness Score                  float64
Economy (GDP per Capita)         float64
Social Support                   float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [14]:
df.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social Support,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1230.000000,1229.000000,1230.000000,1230.000000
mean,2018.447154,77.421951,5.430092,0.976255,1.032984,0.608132,0.440833,0.130756,0.201583,2.039667
std,2.282716,44.486273,1.115361,0.435247,0.329526,0.241249,0.154415,0.110818,0.115522,0.573982
min,2015.000000,1.000000,2.404000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.184000
25%,2016.000000,39.000000,4.584500,0.668250,0.824771,0.439250,0.344250,0.056000,0.118000,1.686035
50%,2018.000000,77.000000,5.410500,1.013580,1.069168,0.639427,0.458135,0.096000,0.186984,2.062335
75%,2020.000000,116.000000,6.226225,1.295961,1.273395,0.790795,0.559000,0.164000,0.258494,2.421914
max,2022.000000,158.000000,7.842000,2.209000,1.644000,1.141000,0.740000,0.587000,0.838075,3.837720